{% include "header.html" %}

<div class="page">
      <!-- Page header-->
      <header class="section page-header">
        <!-- RD Navbar-->
        <div class="rd-navbar-wrap">
          <nav class="rd-navbar rd-navbar-original rd-navbar-static" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-sm-device-layout="rd-navbar-fixed" data-md-layout="rd-navbar-static" data-md-device-layout="rd-navbar-fixed" data-lg-device-layout="rd-navbar-static" data-lg-layout="rd-navbar-static" data-stick-up-clone="false" data-md-stick-up-offset="5px" data-lg-stick-up-offset="5px" data-md-stick-up="true" data-lg-stick-up="true">
    <div class="rd-navbar-main-outer">
        <div class="rd-navbar-main">
            <!-- RD Navbar Panel -->
            <div class="rd-navbar-panel">
                <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
                <!-- RD Navbar Brand -->
                <div class="rd-navbar-brand"><a class="brand" href="/">
                        <div class="brand__name"><img class="brand__logo-dark" src="static/images/kalasuttra-logo1.png" alt="" width="100" height="57" /><img class="brand__logo-light" src="static/images/kalasuttra-logo1.png" alt="" width="100" height="57" />
                        </div></a></div>
            </div>
            <!-- RD Navbar Nav -->
            <div class="rd-navbar-nav-wrap">
                <ul class="rd-navbar-nav">
                    <li><a href="/">Home</a></li>
                    <li><a href="/about-kalasuttra">About kalasuttra</a></li>
                    <li class="active"><a href="/upcycle">Upcycle</a></li>
                    <li><a href="/contact-me">Contact Me</a></li>

                    {% if session.get("user") %}
    <!-- My Account Link -->
    <li><a href="/my-account">My Account</a></li>
    <li>
      <a href="/cart" class="cart-icon">
        <img src="static/images/cart-icon.png" alt="Cart" width="24" height="24" />
      </a>
    </li>
    {% else %}
    <!-- Login Button -->
    <a href="/login" class="btn btn-primary login-btn">Login</a>
    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</nav>

        </div>
      </header>
    </div>

<!--<section class = "testimonial-carousel" id-->

<section class="section bg-white text-center">
        <!-- Slick Carousel-->
        <div class="slick-wrap">
          <div class="slick-slider slick-style-1" data-arrows="true" data-autoplay="false" data-loop="true" data-dots="true" data-swipe="true" data-xs-swipe="true" data-sm-swipe="false" data-items="1" data-sm-items="3" data-md-items="3" data-lg-items="3" data-center-mode="true" data-lightgallery="group-slick">
            <div class="item">
              <div class="slick-slide-inner">
                <div class="slick-slide-caption"><a class="thumb-ann thumb-mixed_large" href="static/images/project1.jpg" data-lightgallery="item"><img class="thumb-ann__image" src="static/images/project1.jpg" alt="" width="961" height="664"/>
                    <div class="thumb-ann__caption">
                      <p class="thumb-ann__title heading-3">Philip &amp; Gloria</p>
                      <p class="thumb-ann__text">With the experience of more than 10 years, I am glad to offer you a wide variety of love story photography services at affordable prices.</p>
                    </div></a>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="slick-slide-inner">
                <div class="slick-slide-caption"><a class="thumb-ann thumb-mixed_large" href="static/images/project2.jpg" data-lightgallery="item"><img class="thumb-ann__image" src="static/images/project2.jpg" alt="" width="961" height="664"/>
                    <div class="thumb-ann__caption">
                      <p class="thumb-ann__title heading-3">Ronald &amp; Karen</p>
                      <p class="thumb-ann__text">With the experience of more than 10 years, I am glad to offer you a wide variety of love story photography services at affordable prices.</p>
                    </div></a>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="slick-slide-inner">
                <div class="slick-slide-caption"><a class="thumb-ann thumb-mixed_large" href="static/images/project3.jpg" data-lightgallery="item"><img class="thumb-ann__image" src="static/images/project3.jpg" alt="" width="961" height="664"/>
                    <div class="thumb-ann__caption">
                      <p class="thumb-ann__title heading-3">Eric &amp; Amanda</p>
                      <p class="thumb-ann__text">With the experience of more than 10 years, I am glad to offer you a wide variety of love story photography services at affordable prices.</p>
                    </div></a>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="slick-slide-inner">
                <div class="slick-slide-caption"><a class="thumb-ann thumb-mixed_large" href="static/images/group-image-2-1200x800-original.jpg" data-lightgallery="item"><img class="thumb-ann__image" src="static/images/home1-4-961x664.jpg" alt="" width="961" height="664"/>
                    <div class="thumb-ann__caption">
                      <p class="thumb-ann__title heading-3">Harold &amp; Mary</p>
                      <p class="thumb-ann__text">With the experience of more than 10 years, I am glad to offer you a wide variety of love story photography services at affordable prices.</p>
                    </div></a>
                </div>
              </div>
            </div>
              <div class="item">
              <div class="slick-slide-inner">
                <div class="slick-slide-caption"><a class="thumb-ann thumb-mixed_large" href="static/images/group-image-2-1200x800-original.jpg" data-lightgallery="item"><img class="thumb-ann__image" src="static/images/home1-4-961x664.jpg" alt="" width="961" height="664"/>
                    <div class="thumb-ann__caption">
                      <p class="thumb-ann__title heading-3">Harold &amp; Mary</p>
                      <p class="thumb-ann__text">With the experience of more than 10 years, I am glad to offer you a wide variety of love story photography services at affordable prices.</p>
                    </div></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>



  <!-- Submission Form -->
  <div class="card mt-5">
    <div class="card-header bg-secondary text-white">
      <h5>Submit Your Upcycling Request</h5>
    </div>
    <div class="card-body">
      <form action="/submit-upcycle" method="POST" enctype="multipart/form-data">
        <div class="mb-3">
          <label for="name" class="form-label">Name</label>
          <input type="text" id="name" name="name" class="form-control" required>
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input type="email" id="email" name="email" class="form-control" required>
        </div>
        <div class="mb-3">
          <label for="phone" class="form-label">Phone Number</label>
          <input type="text" id="phone" name="phone" class="form-control" required>
        </div>
        <div class="mb-3">
          <label for="description" class="form-label">Description</label>
          <textarea id="description" name="description" class="form-control" rows="4" required></textarea>
        </div>
        <div class="mb-3">
          <label for="images" class="form-label">Upload Images</label>
          <input type="file" id="images" name="images" class="form-control" multiple required>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div>
<!--<script src="{{ url_for('static', filename='js/carousel.js') }}"></script>-->
{% include "footer.html" %}

      
