{% include "header.html" %}

<div class="page">
      <!-- Page header-->
      <header class="section page-header">
        <!-- RD Navbar-->
        <div class="rd-navbar-wrap">
          <nav class="rd-navbar rd-navbar-original rd-navbar-static" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-sm-device-layout="rd-navbar-fixed" data-md-layout="rd-navbar-static" data-md-device-layout="rd-navbar-fixed" data-lg-device-layout="rd-navbar-static" data-lg-layout="rd-navbar-static" data-stick-up-clone="false" data-md-stick-up-offset="5px" data-lg-stick-up-offset="5px" data-md-stick-up="true" data-lg-stick-up="true">
    <div class="rd-navbar-main-outer">
        <div class="rd-navbar-main">
            <!-- RD Navbar Panel -->
            <div class="rd-navbar-panel">
                <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
                <!-- RD Navbar Brand -->
                <div class="rd-navbar-brand"><a class="brand" href="/">
                        <div class="brand__name"><img class="brand__logo-dark" src="static/images/sutkala_1.png" alt="" width="100" height="57" /><img class="brand__logo-light" src="static/images/sutkala_1.png" alt="" width="100" height="57" />
                        </div></a></div>
            </div>
            <!-- RD Navbar Nav -->
            <div class="rd-navbar-nav-wrap">
                <ul class="rd-navbar-nav">
                    <li><a href="/">Home</a></li>
                    <li><a href="/about-kalasuttra">About SutaKala</a></li>
                    <li class="active"><a href="/upcycle">Upcycle</a></li>
                    <li><a href="/contact-me">Contact Us</a></li>

                    {% if session.get("user") %}
    <!-- My Account Link -->
    <li><a href="/my-account">My Account</a></li>
    <li>
      <a href="/cart" class="cart-icon">
        <img src="static/images/cart-icon.png" alt="Cart" width="24" height="24" />
      </a>
    </li>
    {% else %}
    <!-- Login Button -->
    <a href="/login" class="btn btn-primary login-btn">Login</a>
    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</nav>

        </div>
      </header>
    </div>

<!--<section class = "testimonial-carousel" id-->

<section class="section bg-white text-center">
        <!-- Slick Carousel-->
        <div class="slick-wrap">
          <div class="slick-slider slick-style-1" data-arrows="true" data-autoplay="false" data-loop="true" data-dots="true" data-swipe="true" data-xs-swipe="true" data-sm-swipe="false" data-items="1" data-sm-items="3" data-md-items="3" data-lg-items="3" data-center-mode="true" data-lightgallery="group-slick">
            <div class="item">
              <div class="slick-slide-inner">
                <div class="slick-slide-caption"><a class="thumb-ann thumb-mixed_large" href="static/images/project1.jpg" data-lightgallery="item"><img class="thumb-ann__image" src="static/images/project1.jpg" alt="" width="961" height="664"/>
                    <div class="thumb-ann__caption">
                      <p class="thumb-ann__title heading-3">Philip &amp; Gloria</p>
                      <p class="thumb-ann__text">With the experience of more than 10 years, I am glad to offer you a wide variety of love story photography services at affordable prices.</p>
                    </div></a>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="slick-slide-inner">
                <div class="slick-slide-caption"><a class="thumb-ann thumb-mixed_large" href="static/images/project2.jpg" data-lightgallery="item"><img class="thumb-ann__image" src="static/images/project2.jpg" alt="" width="961" height="664"/>
                    <div class="thumb-ann__caption">
                      <p class="thumb-ann__title heading-3">Ronald &amp; Karen</p>
                      <p class="thumb-ann__text">With the experience of more than 10 years, I am glad to offer you a wide variety of love story photography services at affordable prices.</p>
                    </div></a>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="slick-slide-inner">
                <div class="slick-slide-caption"><a class="thumb-ann thumb-mixed_large" href="static/images/project3.jpg" data-lightgallery="item"><img class="thumb-ann__image" src="static/images/project3.jpg" alt="" width="961" height="664"/>
                    <div class="thumb-ann__caption">
                      <p class="thumb-ann__title heading-3">Eric &amp; Amanda</p>
                      <p class="thumb-ann__text">With the experience of more than 10 years, I am glad to offer you a wide variety of love story photography services at affordable prices.</p>
                    </div></a>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="slick-slide-inner">
                <div class="slick-slide-caption"><a class="thumb-ann thumb-mixed_large" href="static/images/project2.jpg" data-lightgallery="item"><img class="thumb-ann__image" src="static/images/project2.jpg" alt="" width="961" height="664"/>
                    <div class="thumb-ann__caption">
                      <p class="thumb-ann__title heading-3">Harold &amp; Mary</p>
                      <p class="thumb-ann__text">With the experience of more than 10 years, I am glad to offer you a wide variety of love story photography services at affordable prices.</p>
                    </div></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

<div class="container mt-5">
  <div class="row">

    <!-- Submission Form -->
    <div class="col-md-6 mb-4 mb-md-0">
      <h2 class="text-center">Upcycle Your Dress</h2>
      <p class="text-center">Choose how you'd like to proceed</p>

      <form action="{{ url_for('submit_upcycle') }}" method="POST" enctype="multipart/form-data" class="mt-4 mb-5">
  <input type="hidden" name="submission_type" id="submission_type">

  <div class="mb-3">
    <input type="text" class="form-control" id="name" name="name" placeholder="Your Name" required>
  </div>

  <div class="mb-3">
    <input type="email" class="form-control" id="email" name="email" placeholder="Email Address" required>
  </div>

  <div class="mb-3">
    <input type="tel" class="form-control" id="phone" name="phone" placeholder="Phone Number" required>
  </div>

  <div class="mb-3">
    <textarea class="form-control" id="description" name="description" rows="4" placeholder="Briefly describe your dress or request" required></textarea>
  </div>

  <div class="mb-4">
    <input type="file" class="form-control" id="file" name="file[]" multiple>
  </div>

  <div class="d-flex justify-content-around">
    <button type="submit" onclick="document.getElementById('submission_type').value='sell'" class="btn btn-primary">Sell the Dress</button>
    <a href="{{ url_for('upcycle_measurement') }}" class="btn btn-secondary">Get Upcycled Product</a>
  </div>
</form>


    </div>

    <!-- Catalog Section -->
    <!-- Catalog Section -->
<div class="col-md-6 text-center d-flex flex-column align-items-center justify-content-center">
  <h3 class="mb-3">Explore Our Upcycled Designs</h3>
  <p>See how we transform old clothes into new looks.</p>

  <a href="{{ url_for('catalog') }}">
    <img src="{{ url_for('static', filename='images/catalog-preview.jpg') }}"
         alt="Catalog Preview"
         class="img-fluid mb-3"
         style="max-height: 300px;">
  </a>

  <!-- Centered Button -->
  <a href="{{ url_for('catalog') }}" class="btn btn-success">View Catalog</a>
</div>


  </div>
</div>

<!--<script src="{{ url_for('static', filename='js/carousel.js') }}"></script>-->
{% include "footer.html" %}


